@import "_variables.scss";

html {
    font-size: 15px;
    width: 100%;
    height: 100%;
}

body, .body-content {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    padding-left: 0.333rem;
    padding-right: 0.333rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navbar-toggler .icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
}

.offcanvas-toggle.is-open .icon-bar:nth-child(2) {
    opacity: 0;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}