.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 100%;
  background: url("../img/bg-pattern.png"), white;
  /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to right, white, white);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to right, white, white);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.modal-backdrop {
  margin: 0;
}
html,
body,
#main {
  width: 100%;
  height: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.page-header {
  height: 87px;
  width: 100%;
  display: inline-flex;
  margin-top: 12px;
}
.page-header > h1,
.page-header > div {
  margin-right: 80px;
}
.page-header > h1 {
  vertical-align: top;
  margin-top: 12px;
  display: inline-block;
}
.button-group {
  width: 65px;
  display: block;
}
.button-group > span {
  width: 100%;
  text-align: center;
  display: block;
}
.number-button {
  -ms-border-radius: 15px;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
  background: aquamarine;
  width: 65px;
  height: 65px;
}
.number-button :hover {
  background: #00cc88;
}
.page-header .btn-sq {
  width: 65px !important;
  height: 65px !important;
  border-radius: 15px;
  font-size: 20px !important;
  color: black;
  background-color: #fdcc52;
  border-color: #fcb606;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.page-header .btn-sq:hover,
.page-header .btn-sq:focus,
.page-header .btn-sq.focus,
.page-header .btn-sq:active,
.page-header .btn-sq.active,
.open > .dropdown-toggle.page-header .btn-sq {
  color: black;
  background-color: #fdc539;
  border-color: #dc9e03;
}
.page-header .btn-sq:active,
.page-header .btn-sq.active,
.open > .dropdown-toggle.page-header .btn-sq {
  background-image: none;
}
.page-header .btn-sq.disabled,
.page-header .btn-sq[disabled],
fieldset[disabled] .page-header .btn-sq,
.page-header .btn-sq.disabled:hover,
.page-header .btn-sq[disabled]:hover,
fieldset[disabled] .page-header .btn-sq:hover,
.page-header .btn-sq.disabled:focus,
.page-header .btn-sq[disabled]:focus,
fieldset[disabled] .page-header .btn-sq:focus,
.page-header .btn-sq.disabled.focus,
.page-header .btn-sq[disabled].focus,
fieldset[disabled] .page-header .btn-sq.focus,
.page-header .btn-sq.disabled:active,
.page-header .btn-sq[disabled]:active,
fieldset[disabled] .page-header .btn-sq:active,
.page-header .btn-sq.disabled.active,
.page-header .btn-sq[disabled].active,
fieldset[disabled] .page-header .btn-sq.active {
  background-color: #fdcc52;
  border-color: #fcb606;
}
.page-header .btn-sq .badge {
  color: #fdcc52;
  background-color: black;
}
span,
p {
  color: black;
}
.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}
#lessons-editor label {
  padding-right: 8px;
}
#lessons-editor input {
  width: 100%;
  float: none;
  margin: 1px auto;
}
#lessons-editor .flex-row span {
  text-align: center;
  line-height: 35px;
}
#lessons-box-modal > .modal-dialog {
  min-width: 500px;
}
.modal-dialog {
  width: fit-content;
}
.country-select {
  height: 35px;
  min-width: 200px;
}
.flex-row {
  display: flex;
}
.button-row {
  margin-top: 8px;
}
.loading-bubbles {
  float: none;
  margin: 0 auto;
}