@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 100%;
    background: url("../img/bg-pattern.png");
    .body-font;
}

.modal-backdrop {
    margin: 0;
}

html, body, #main {
    width: 100%;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-header {
    height: 87px;
    width: 100%;
    display: inline-flex;
    margin-top: 12px;

    > h1, > div {
        margin-right: 80px;
    }

    > h1 {
        vertical-align: top;
        margin-top: 12px;
        display: inline-block;
    }
}

.button-group {
    width: 65px;
    display: block;

    > span {
        width: 100%;
        text-align: center;
        display: block;
    }
}

.number-button {
    -ms-border-radius: 15px;
    border-style: solid;
    border-color: gray;
    border-radius: 15px;
    background: aquamarine;
    width: 65px;
    height: 65px;

    :hover {
        background: #00cc88;
    }
}

.page-header {
    .btn-sq {
        width: 65px !important;
        height: 65px !important;
        border-radius: 15px;
        font-size: 20px !important;
    }
}

span, p {
    color: @text-color;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

#lessons-editor {
    label {
        padding-right: 8px;
    }
    input {
        width: 100%;
        float: none;
        margin: 1px auto;
    }
    .flex-row span {
        text-align: center;
        line-height: 35px;
    }
}

#lessons-box-modal > .modal-dialog {
    min-width: 500px;
}

.modal-dialog {
    width: fit-content;
}

.country-select {
    height: 35px;
    min-width: 200px;
}

.flex-row {
    display: flex;
}

.button-row {
    margin-top: 8px;
}

.loading-bubbles {
    float: none;
    margin: 0 auto;
}