@model MemoryClient.Web.Models.MainPageModel

@{
    ViewBag.Title = "Home - Memory";
    Layout = "_Layout";
}

<div id="content" class="body-content"></div>
<script src="~/js/main.build.js"></script>