@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <script src="~/js/node.build.js"></script>
        <link rel="stylesheet" type="text/css" href="~/css/vendor.build.css"/>
        <!--<link rel="stylesheet" type="text/css" href="~/css/main.build.css" id="main-ss"/>-->
        @RenderSection("Scripts", false)
    @Html.Raw(JavaScriptSnippet.FullScript)
    </head>
    <body>
        @RenderBody()
    </body>
</html>